*{
    font-family: Verdana, Geneva, Tahoma, sans-serif
    
}
p {
    color: #770c0c;

}

h1 {
    color: #0d0de3a4;
    text-align:center;
   
}
h3 {
    text-decoration:overline underline wavy;
    color: #ff002b;
   
}